<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Bromo Sky Aventra | Booking Wisata</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="hero">
        <div class="overlay">
            <div class="content">
                <h1>Bromo Sky Aventra</h1>
                <p>Travel & Adventure Experience</p>

                <div class="buttons">
                    <a href="/booking"><button class="primary">Booking Sekarang</button></a>
                    <a href="/invoice_check"><button class="secondary">Cek Invoice</button></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
